* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: #131212;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.logo {
  font-weight: bold;
  letter-spacing: 1px;
}

#home {
  min-height: 100vh;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home img {
  width: 180px;
  border-radius: 50%;
  border: 5px solid white;
  margin-bottom: 1rem;
}

#home h1 {
  font-size: 2.5rem;
}

#home p {
  opacity: 0.8;
}

#about {
  background: rgb(0, 0, 0);
  padding: 4rem 2rem;
  text-align: center;
}

#about h2 {
  margin-bottom: 2rem;
}

#about p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 1rem;
  line-height: 1.7;
  opacity: 0.9;
}

#stuff {
  padding: 4rem 2rem;
}

#stuff h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.stuff-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.stuff {
  background: black;
  border-radius: 6px;
  overflow: hidden;
}

.stuff img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.stuff p {
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

#projects {
  padding: 4rem 2rem;
}

#projects h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.project {
  background: black;
  border-radius: 6px;
  overflow: hidden;
}

.project img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project p {
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

#contact {
  background: black;
  padding: 4rem 2rem;
  text-align: center;
}

#contact form {
  max-width: 400px;
  margin: auto;
}

#contact input,
#contact textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}

#contact button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  background: skyblue;
  color: white;
  cursor: pointer;
}

#contact button:hover {
  background: #4aa3ff;
}


.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.hamburger.active {
  transform: rotate(180deg);
}

footer {
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar nav {
    position: absolute;
    top: 40px;
    height: 200px;
    right: 0px;
    background: rgba(0, 0, 0, 0.95);
    width: 150px;
    padding: 4rem;

    
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.4s ease;
  }

  .navbar nav.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .navbar nav a {
    margin: 0;
    padding: 0.8rem 0;
    border-bottom: 1px solid #000000;
  }
}
 


